@import "../../App.scss";

section {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;

  row-gap: 20px;
  column-gap: 70px;
  /* justify-content: space-evenly; */
  padding-right: 40px;
}

div > a > img {
  margin-bottom: 0px;
  width: 350px;
  height: 350px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.5s;
  background-size: 100%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  div > a > img {
    width: 225px;
    height: 225px;
  }
}
