$main: #a0ca92;
$secondary: #4b543b;
$textColor: #373d2b;
$background: #fefef1;

.mainBody {
  display: grid;
  grid-template-columns: 20% auto;
  column-gap: 40px;
  align-items: center;
  justify-items: center;
  height: 100%;
}
